* + table {
  border: 1px solid #E7E3E7;
}
* + table th, * + table td {
  border: 1px dashed #E7E3E7;
  padding: 4px 10px;
}
* + table th {
  background: #F7F3F7;
  border-style: solid;
  font-weight: bold;
}
* + table th[align="left"], * + table td[align="left"] {
  text-align:left;
}
* + table th[align="right"], * + table td[align="right"] {
  text-align:right;
}
* + table th[align="center"], * + table td[align="center"] {
  text-align:center;
}
